PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=bloodbank
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/bloodbank?schema=public"
JWT_SECRET=your_jwt_secret
SMS_ETHIOPIA_KEY=your_sms_key
BREVO_API_KEY=your_brevo_key
LAB_DATABASE_URL="postgresql://postgres:your_password@localhost:5432/bloodbank_lab?schema=public"
